.header {
  border-bottom: 1px solid var(--lighter-gray);
  padding: var(--spacer-1);
}

@media (min-width: 768px) {
  .header {
    padding: var(--spacer-1) var(--spacer-3);
  }
}

.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 1024px) {
  .nav {
    max-width: 768px;
    margin: 0 auto;
  }
}

.nav > * {
  margin-right: var(--spacer-3);
}

.logoContainer {
  color: var(--black);
  margin-right: auto;
}

.profileImage {
  border-radius: 50%;
}

.searchContainer {
  margin-top: var(--spacer-2);
  margin-right: 0;
  flex-basis: 100%;
  order: 1;
}

.searchContainer label {
  width: 100%;
}

@media (min-width: 768px) {
  .searchContainer {
    order: 0;
    flex-basis: 40%;
    margin-top: 0;
    margin-right: var(--spacer-3);
  }
}
