.header {
  border-bottom: 1px solid var(--lighter-gray);
  padding: var(--spacer-1);
}

.nav {
  display: flex;
  align-items: center;
}

.logoContainer {
  color: var(--black);
  margin-right: auto;
}

.nav > *:not(.logoContainer) {
  margin-right: var(--spacer-3);
}

.profileImage {
  border-radius: 50%;
}
