.header {
  border-bottom: 1px solid var(--lighter-gray);
  padding: var(--spacer-1);
}

@media (min-width: 768px) {
  .header {
    padding: var(--spacer-1) var(--spacer-3);
  }
}

.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav > * {
  margin-right: var(--spacer-3);
}

.logoContainer {
  color: var(--black);
  margin-right: auto;
}

.profileImage {
  border-radius: 50%;
}

.searchContainer {
  margin-top: var(--spacer-2);
  margin-right: 0;
  flex-basis: 100%;
}

.searchContainer label {
  width: 100%;
}

.searchContainer.desktop {
  display: none;
}
