.container {
  display: block;
  position: relative;
  width: 270px;
  height: 38px;
}

.label {
  color: var(--gray);
  font-size: var(--small);
  position: absolute;
  top: 25%;
  left: 9px;
  transition-duration: 0.2s;
}

.input {
  background-color: var(--off-white);
  border: 1px solid var(--lighter-gray);
  border-radius: 2px;
  font-size: var(--small);
  padding: var(--spacer-1) var(--spacer-1);
  width: 100%;
  height: 100%;
}

.shrunkLabel {
  transform: scale(0.8333);
  transform-origin: left;
  top: 0;
}

.shrunkLabel + .input {
  padding-top: var(--spacer-2);
}

.passwordReveal {
  cursor: pointer;
  font-weight: 600;
  position: absolute;
  top: 22%;
  right: 9px;
}
