.storyContainer {
  border-bottom: 1px solid var(--lighter-gray);
  display: flex;
  align-items: center;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.storyContainer::-webkit-scrollbar {
  height: 0;
}

@media (min-width: 450px) {
  .storyContainer {
    margin: var(--spacer-2) auto auto;
  }
}
