.container {
  margin: auto;
  text-align: center;
}

.btn {
  border: 0;
  border-radius: 4px;
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
  padding: var(--spacer-1\/2) var(--spacer-2);
  width: 100%;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.msg {
  width: 270px;
}

.hint {
  color: var(--gray);
  font-size: var(--small);
  height: var(--spacer-2);
}

.errorHint {
  color: var(--tomato);
}
